<footer>
    <div class="wrapper">
        <div class="footer">
            <img class="footerLogo" src="/images/logo.svg" width="114" height="27" alt="Logo arTE">
            <a href="#" target="_blank" class="footerLink footerLink--facebook">
                <img class="footerIcon" src="/images/facebook--icon.svg" width="11" height="22" alt="Facebook arTE">
            </a>
            <a href="#" target="_blank" class="footerLink footerLink--instagram">
                <img class="footerIcon" src="/images/instagram--icon.svg" width="23" height="24" alt="Instagram arTE">
            </a>
            <ul class="footerList">
                <li class="footerItem">
                    <address class="footerAddress">{{{ footerAddress }}}</address>
                    <span class="footerTimeline">{{{ footerTimeline }}}</span>
                </li>
                <li class="footerItem">
                    <span class="footerPhone">{{{ footerPhone }}}</span>
                    <span class="footerEmail">{{{ footerEmail }}}</span>
                </li>
            </ul>
        </div>
    </div>
</footer>

<template class="basketTemplate">
    <div class="addedPictures">
        <p class="basketHeader">{{{ basketHeader }}}</p>
        <div class="basketPicture">
            <img class="basketPhoto" src="" alt="">
            <div class="basketData">
                <div class="pictureHeaderWrapper">
                    <a href="" class="pictureHeader" target="_blank"></a>
                </div>
                <p class="pictureSize">
                    <span class="sizeLabel">{{{ sizeLabel }}}</span>
                    <span class="pictureWidth metric"></span>
                    <span class="pictureHeight metric"></span>
                </p>
                <a class="pictureAuthor" href=""></a>
                <em class="picturePrice price" data-rub=""></em>
            </div>
        </div>
        <button class="basketButton">{{{ basketButton }}}</button>
    </div>
</template>