<footer>
    <div class="wrapper">
        <div class="footer">
            <img class="footerLogo" src="/images/logo.svg" width="114" height="27" alt="Logo arTE">
            <a href="#"
               target="_blank"
               class="footerLink footerLink--facebook">
                <img class="footerIcon"
                     src="/images/facebook--icon.svg"
                     width="11"
                     height="22"
                     alt="Facebook arTE">
            </a>
            <a href="https://www.instagram.com/art_of_moscoww/"
               target="_blank"
               class="footerLink footerLink--instagram">
                <img class="footerIcon"
                     src="/images/instagram--icon.svg"
                     width="23"
                     height="24"
                     alt="Instagram arTE">
            </a>
            <ul class="footerList">
                <li class="footerItem">
                    <address class="footerAddress">{{{ footerAddress }}}</address>
                    <span class="footerTimeline">{{{ footerTimeline }}}</span>
                </li>
                <li class="footerItem">
                    <a href="tel:79685555597" class="footerPhone">{{{ footerPhone }}}</a>
                    <a href="mailto:hello@artegallery.ru" class="footerEmail">{{{ footerEmail }}}</a>
                </li>
            </ul>
            <div class="loginWrapper">
                {{#if isAdmin}}

                {{else}}
                <form class="loginForm">
                    <div class="loginFieldWrapper">
                        <label class="loginLabel" for="userLogin">Логин</label>
                        <input class="loginField" name="userLogin" id="userLogin" type="text">
                    </div>
                    <div class="loginFieldWrapper">
                        <label class="loginLabel" for="userPassword">Пароль</label>
                        <input class="loginField" name="userPassword" id="userPassword" type="password">
                    </div>
                    <button type="submit" class="loginButton">=></button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</footer>

<template class="basketTemplate">
    <div class="addedPictures">
        <p class="basketHeader">{{{ basketHeader }}}</p>
        <div class="basketPicture">
            <img class="basketPhoto" src="" alt="">
            <div class="basketData">
                <div class="pictureHeaderWrapper">
                    <a href="" class="pictureHeader" target="_blank"></a>
                </div>
                <p class="pictureSize">
                    <span class="sizeLabel">{{{ sizeLabel }}}</span>
                    <span class="pictureWidth metric"></span>
                    <span class="pictureHeight metric"></span>
                </p>
                <a class="pictureAuthor" href="" target="_blank"></a>
                <div class="picturePrice">
                    <em class="picturePrice--main price" data-rub=""></em>
                    <em class="picturePrice--old price" data-rub=""></em>
                </div>
            </div>
        </div>
        <button class="basketButton">{{{ basketButton }}}</button>
    </div>
</template>