<header>
    <div class="wrapperFull">
        <div class="header">
            <div class="headerLogo">
                <a href="/" class="headerLogo--link">
                    <img class="headerLogo--image" src="/images/logo.svg" width="114" height="27" alt="Logo arTE">
                </a>
            </div>
            <nav class="headerNav">
                <ul class="headerNav--list">
                    {{#if isAdmin}}
                        <li class="headerNav--item headerNav--eye">
                            <button class="adminEye">show/hide admin panel</button>
                        </li>
                    {{/if}}
                    {{#if isBasketActive}}

                    {{else}}
                    <li class="headerNav--item">
                        <a class="headerNav--link headerNav--basket" href="#">
                            <img src="/images/basket--icon.svg" width="18" height="19" alt="Basket">
                            <span class="basketCount basketCount--active">1</span>
                        </a>
                        <div class="headerBasket">
                            <div class="addedPictures">
                                <p class="basketHeader">{{{ basketHeader }}}</p>
                                <div class="basketPicture">
                                    <img class="basketPhoto" src="/images/basket_added2.png" alt="added basket photo">
                                    <div class="basketData">
                                        <div class="pictureHeaderWrapper">
                                            <a href="/collection/1" class="pictureHeader">Небольшая, но дорогая и очень красивая картина</a>
                                        </div>
                                        <p class="pictureSize">
                                            <span class="sizeLabel">Размер</span>
                                            <span class="pictureWidth metric metric--ru">200</span>
                                            <span class="pictureHeight metric metric--ru">150</span>
                                        </p>
                                        <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                                        <em class="picturePrice price price--rub" data-rub="49000">49 000</em>
                                    </div>
                                </div>
                                <button class="basketButton">{{{ basketButton }}}</button>
                            </div>
                            <button class="headerBasket--closeButton" disabled></button>
                        </div>
                    </li>
                    {{/if}}
                    <li class="headerNav--item headerNav--language">
                        <span class="headerNav--link headerLanguage">{{{ languageTitle }}}</span>
                        <ul class="headerLanguage--list">
                            {{#if isActiveRU}}
                                <li class="headerLanguage--item">
                                    <a class="headerLanguage--link headerLanguage--active" data-language="ru-RU" href="#">RU</a>
                                </li>
                                <li class="headerLanguage--item">
                                    <a class="headerLanguage--link" data-language="en-EN" href="#">EN</a>
                                </li>
                            {{else}}
                                <li class="headerLanguage--item">
                                    <a class="headerLanguage--link headerLanguage--active" data-language="en-EN" href="#">EN</a>
                                </li>
                                <li class="headerLanguage--item">
                                    <a class="headerLanguage--link" data-language="ru-RU" href="#">RU</a>
                                </li>
                            {{/if}}
                        </ul>
                    </li>
                    <li class="headerNav--item mainNav">
                        <ul class="mainNavList">
                            <li class="headerNav--item">
                                {{#if isCollectionActive}}
                                    <span class="headerNav--active headerNav--collections">{{{ headerNav--collections }}}</span>
                                {{else}}
                                    <a class="headerNav--link headerNav--collections" href="/collection">{{{ headerNav--collections }}}</a>
                                {{/if}}
                            </li>
                            <li class="headerNav--item">
                                {{#if isAuthorsActive}}
                                    <span class="headerNav--active headerNav--authors">{{{ headerNav--authors }}}</span>
                                {{else}}
                                    <a class="headerNav--link headerNav--authors" href="/authors">{{{ headerNav--authors }}}</a>
                                {{/if}}
                            </li>
                            <li class="headerNav--item">
                                {{#if isEventsActive}}
                                    <span class="headerNav--active headerNav--artPlacement">{{{ headerNav--artPlacement }}}</span>
                                {{else}}
                                    <a class="headerNav--link headerNav--artPlacement" href="/events">{{{ headerNav--artPlacement }}}</a>
                                {{/if}}
                            </li>
                            <li class="headerNav--item">
                                {{#if isDeliveryActive}}
                                    <span class="headerNav--active headerNav--delivery">{{{ headerNav--delivery }}}</span>
                                {{else}}
                                    <a class="headerNav--link headerNav--delivery" href="/delivery">{{{ headerNav--delivery }}}</a>
                                {{/if}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>