<div class="pictureListWrapper">
    {{#if picturesData.length }}
        <ul class="pictureList">
            {{# each picturesData }}
                <li class="picture similarParent">
                    <a class="picturePhotoWrapper photoLabel photoLabel--new"
                       href="/collection/{{{ pictureID }}}">
                        {{# if hasPhoto}}
                            <img class="picturePhoto similarPhoto"
                                 src="/photos/pictures/{{{ photo }}}.png"
                                 alt="{{{ picture }}}">
                        {{else}}
                            <div class="picturePhoto similarPhoto defaultPhoto"></div>
                        {{/if}}
                    </a>
                    <div class="pictureHeaderWrapper">
                        <a class="pictureHeader similarLink"
                           href="/collection/{{{ pictureID }}}">
                            {{{ picture }}}
                        </a>
                    </div>
                    <div class="pictureData">
                        <div class="pictureInfoWrapper">
                            <p class="pictureAuthorWrapper">
                                <a class="pictureAuthor"
                                   href="/authors/{{{ authorID }}}">
                                    {{{ author }}}
                                </a>
                            </p>
                            <p class="pictureSize">
                                <span class="sizeLabel">{{{ sizeLabel }}}</span>
                                <span class="pictureWidth metric metric--{{{ lang }}}">{{{ pictureSizeWidth }}}</span>
                                <span class="pictureHeight metric metric--{{{ lang }}}">{{{ pictureSizeHeight }}}</span>
                            </p>
                        </div>
                        <div class="picturePriceWrapper">
                            <span class="picturePrice picturePrice--main price price--{{{ priceTitle }}}"
                                  data-rub="{{{ picturePrice }}}">{{{ langPrice }}}</span>
                        </div>
                    </div>
                    <button class="cartButton"
                            data-picture-id="{{{ pictureID }}}">
                        {{{ cartButton }}}
                    </button>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <button class="arrowDownButton picturesButton">{{{ picturesButton }}}</button>
</div>

<template class="clonePictureTemplate">
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--new" href="">
            <img class="picturePhoto similarPhoto" src="" alt="">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href=""></a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href=""></a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">{{{ sizeLabel }}}</span>
                    <span class="pictureWidth metric metric--{{{ lang }}}"></span>
                    <span class="pictureHeight metric metric--{{{ lang }}}"></span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price" data-rub=""></span>
            </div>
        </div>
        <button class="cartButton" data-picture-id="">{{{ cartButton }}}</button>
    </li>
</template>