<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta name="format-detection" content="telephone=no" />
    <title>{{{ clientMailHeader }}}</title>
</head>

<body style="border-collapse: collapse;
             border-spacing: 0;
             margin: 0;
             padding: 0;
             width: 100%;
             height: 100%;
             -webkit-font-smoothing: antialiased;
             text-size-adjust: 100%;
             -ms-text-size-adjust: 100%;
             -webkit-text-size-adjust: 100%;
             line-height: 100%;
             background-color: #FFF;
             color: #FFF;"
      topmargin="0"
      rightmargin="0"
      bottommargin="0"
      leftmargin="0"
      marginwidth="0"
      marginheight="0"
      width="100%"
      bgcolor="#FFF"
      text="#000000">
<table style="border-collapse: collapse;
                  border-spacing: 0;
                  margin: 0;
                  padding: 0;
                  width: 100%;"
       width="100%"
       align="center"
       border="0"
       cellpadding="0"
       cellspacing="0">
    <tr>
        <td style="border-collapse: collapse;
                       border-spacing: 0;
                       margin: 0;
                       padding: 0;"
            align="center"
            valign="top"
            bgcolor="#FFF">
            <table style="border-collapse: collapse;
                              border-spacing: 0;
                              padding: 0;
                              width: inherit;
                              max-width: 560px;"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   align="center"
                   width="560">
                <tr>
                    <td style="border-collapse: collapse;
                                   border-spacing: 0;
                                   margin: 0;
                                   padding: 0;
                                   width: 100%;
                                   color: #000;
                                   font-family: sans-serif;
                                   font-size: 32px;
                                   padding-top: 20px;
                                   padding-bottom: 20px;"
                        align="center"
                        valign="top">
                        {{{ clientMailThanks }}}
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;
                              border-spacing: 0;
                              padding: 0;
                              width: inherit;
                              max-width: 560px;"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   align="center"
                   bgcolor="#000"
                   width="560">
                <tr>
                    <td style="border-collapse: collapse;
                                   border-spacing: 0;
                                   margin: 0;
                                   padding: 0;
                                   width: 100%;
                                   font-size: 24px;
                                   font-weight: bold;
                                   line-height: 130%;
                                   padding-top: 40px;
                                   padding-bottom: 40px;
                                   color: #000000;
                                   font-family: sans-serif;"
                        align="center"
                        valign="top">
                        <img style="color: #000000;
                                        font-size: 10px;
                                        margin: 0;
                                        padding: 0;
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        border: none;
                                        display: block;"
                             border="0"
                             vspace="0"
                             hspace="0"
                             src="https://artegallery.ru/images/logo-mail.png"
                             width="200"
                             alt="Logo"
                             title="Logo" />
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;
                                   border-spacing: 0;
                                   margin: 0;
                                   padding: 0;
                                   padding-bottom: 3px;
                                   padding-left: 6.25%;
                                   padding-right: 6.25%;
                                   width: 87.5%;
                                   font-size: 18px;
                                   font-weight: 300;
                                   line-height: 150%;
                                   padding-top: 5px;
                                   color: #000000;
                                   font-family: sans-serif;"
                        align="center"
                        valign="top">
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding-top: 40px;
                                       padding-bottom: 40px;
                                       color: #000;
                                       text-transform: uppercase;
                                       font-size: 24px;
                                       line-height: 36px;
                                       font-family: sans-serif;
                                       width: 400px;
                                       background-color: #CEA776;"
                        align="center"
                        valign="top">
                        {{{ clientOrderNumber }}}
                        <br>
                        <b style="font-weight: bold; font-size: 42px">{{{orderNumber}}}</b>
                    </td>
                </tr>

                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding: 0;
                                       padding-left: 6.25%;
                                       padding-right: 6.25%;"
                        align="center"
                        valign="top">
                        <table style="width: inherit;
                                              margin: 0;
                                              padding: 0;
                                              border-collapse: collapse;
                                              border-spacing: 0;"
                               align="center"
                               border="0"
                               cellspacing="0"
                               cellpadding="0">
                            <tr>
                                <td style="font-size: 14px;
                                            line-height: 20px;
                                                   font-weight: 400;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding-top: 40px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    {{{ clientDataHeader }}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 20px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientDeliveryTitle }}} </b>
                                    {{{ clientDeliveryType }}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 10px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientPaymentTitle }}} </b>
                                    {{{ clientPaymentType }}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 10px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientNameTitle }}} </b>
                                    {{{clientName}}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 10px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientPhoneTitle }}} </b>
                                    <a style="color: #CEA776;
                                              text-decoration: underline"
                                       href="tel:{{{clientPhone}}}">{{{clientPhone}}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 10px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientEmailTitle }}} </b>
                                    <a style="color: #CEA776;
                                              text-decoration: underline"
                                       href="mailto:{{{clientEmail}}}">{{{clientEmail}}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px;
                                                   font-weight: 400;
                                                   line-height: 160%;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;
                                                   margin: 0;
                                                   padding: 0;
                                                   padding-top: 10px;
                                                   color: #FFF;
                                                   font-family: sans-serif;"
                                    align="left"
                                    valign="top">
                                    <b style="color: #FFF; font-size: 14px;">{{{ clientCommentTitle }}} </b>
                                    {{{clientComment}}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding: 0;
                                       padding-left: 6.25%;
                                       padding-right: 6.25%;
                                       width: 87.5%;
                                       padding-top: 25px;"
                        align="center"
                        valign="top">
                        <hr style="margin: 0;
                                           padding: 0;"
                            color="#E0E0E0"
                            align="center"
                            width="100%"
                            size="1"
                            noshade />
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding: 0;
                                       padding-left: 6.25%;
                                       padding-right: 6.25%;
                                       width: 87.5%;
                                       font-size: 14px;
                                       font-weight: 400;
                                       line-height: 160%;
                                       padding-top: 20px;
                                       padding-bottom: 20px;
                                       color: #FFF;
                                       font-family: sans-serif;"
                        align="center"
                        valign="top">
                        {{{ hasQuestionsTitle }}}
                        <a style="color: #CEA776;
                                  text-decoration: underline;
                                  font-family: sans-serif;
                                  font-size: 14px;
                                  font-weight: 400;
                                  line-height: 160%;"
                           href="mailto:hello@artegallery.ru"
                           target="_blank">hello@artegallery.ru</a>
                    </td>
                </tr>
            </table>
            <table style="border-collapse: collapse;
                                  border-spacing: 0;
                                  padding: 0;
                                  width: inherit;
                                  max-width: 560px;"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   align="center"
                   width="560">
                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding: 0;
                                       padding-left: 6.25%;
                                       padding-right: 6.25%;
                                       width: 87.5%;
                                       padding-top: 25px;"
                        align="center"
                        valign="top">
                        <table style="border-collapse: collapse;
                                              border-spacing: 0;
                                              padding: 0;"
                               width="256"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               align="center">
                            <tr>
                                <!-- facebook -->
                                <td style="margin: 0;
                                                   padding: 0;
                                                   padding-left: 10px;
                                                   padding-right: 10px;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;"
                                    align="right"
                                    valign="middle">
                                    <a style="text-decoration: none;"
                                       target="_blank"
                                       href="#">
                                        <img style="padding: 0;
                                                            margin: 0;
                                                            outline: none;
                                                            text-decoration: none;
                                                            -ms-interpolation-mode: bicubic;
                                                            border: none;
                                                            display: inline-block;
                                                            color: #000000;"
                                             border="0"
                                             vspace="0"
                                             hspace="0"
                                             alt="F"
                                             title="Facebook"
                                             height="30"
                                             src="https://artegallery.ru/images/facebook-mail.png">
                                    </a>
                                </td>
                                <!-- instagram -->
                                <td style="margin: 0;
                                                   padding: 0;
                                                   padding-left: 10px;
                                                   padding-right: 10px;
                                                   border-collapse: collapse;
                                                   border-spacing: 0;"
                                    align="left"
                                    valign="middle">
                                    <a target="_blank" href="https://www.instagram.com/art_of_moscoww/">
                                        <img style="padding: 0;
                                                            margin: 0;
                                                            outline: none;
                                                            text-decoration: none;
                                                            -ms-interpolation-mode: bicubic;
                                                            border: none;
                                                            display: inline-block;
                                                            color: #000000;"
                                             border="0"
                                             vspace="0"
                                             hspace="0"
                                             alt="I"
                                             title="Instagram"
                                             height="30"
                                             src="https://artegallery.ru/images/instagram-mail.png">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- footer text -->
                <tr>
                    <td style="border-collapse: collapse;
                                       border-spacing: 0;
                                       margin: 0;
                                       padding: 0;
                                       padding-left: 6.25%;
                                       padding-right: 6.25%;
                                       width: 87.5%;
                                       font-size: 13px;
                                       font-weight: 400;
                                       line-height: 150%;
                                       padding-top: 20px;
                                       padding-bottom: 20px;
                                       color: #999999;
                                       font-family: sans-serif;"
                        align="center"
                        valign="top">
                        {{{ footerTextPart1 }}}
                        <a style="text-decoration: underline;
                                          color: #999999;
                                          font-family: sans-serif;
                                          font-size: 13px;
                                          font-weight: 400;
                                          line-height: 150%;"
                           href="mailto:{{{clientEmail}}}"
                           target="_blank">{{{clientEmail}}}</a>
                        {{{ footerTextPart2 }}}
                        <a style="color: #999999; text-decoration: underline;"
                           href="https://artegallery.ru"
                           target="blank">artegallery.ru</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>