<div class="innerPage">
    <div class="specialWrapper">
        <div class="wrapper">
            <div class="special">
                <p class="specialTitle">{{{ specialTitle }}}</p>
                <p class="specialErrorText">{{{ specialErrorText }}}</p>
                <p class="specialDescription">{{{ specialDescription }}}</p>
                <p class="specialRecommendation">{{{ specialRecommendation }}}</p>
                <a href="/" class="returnButton">{{{ returnButton }}}</a>
                <ul class="eventsList">
                    {{# each anotherEvents }}
                        <li class="event similarParent">
                            <a class="eventPhotoWrapper" href="/events/{{{ eventLink }}}">
                                {{#if hasPhoto }}
                                    <img class="eventPhoto similarPhoto" src="/photos/events/{{{ eventPhoto }}}.png" alt="{{{ eventTitle }}}">
                                {{else}}
                                    <div class="eventPhoto similarPhoto defaultPhoto"></div>
                                {{/if}}
                            </a>
                            <a class="eventLink similarLink" href="/events/{{{ eventLink }}}">{{{ eventTitle }}}</a>
                            <p class="eventDescription">{{{ eventAnnotation }}}</p>
                            <span class="eventTheme">{{{ categoryTitle }}}</span>
                        </li>
                    {{/each}}
                </ul>
                <a href="/events" class="eventsButton">{{{ eventsButton }}}</a>
            </div>
        </div>
    </div>
</div>