    <div class="innerPage">
        <div class="articleWrapper">
            <div class="wrapper">
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <a class="breadcrumbLink eventsBreadcrumbLink" href="/events">{{{ eventsBreadcrumbLink }}}</a>
                    </li>
                    <li class="breadcrumb">
                        <span class="breadcrumbLink--active">{{{ eventData.eventTitle }}}</span>
                    </li>
                </ul>
                <div class="article">
                    <div class="articleAdditional">
                        <h1 class="articleHeader">{{{ eventData.eventTitle }}}</h1>
                        <img class="articlePicture" alt="article picture 1" src='/images/{{{ eventData.eventPhoto }}}'>
                    </div>
                    <div class="articleTextWrapper">
                        <div class="overflowWrapper">
                            <div class="articleText">
                                {{{ eventData.eventText }}}
                            </div>
                        </div>
                        <span class="scrollNode"></span>
                    </div>
                    <span class="articleLable">{{{ eventData.categoryTitle }}}</span>
                </div>
                <div class="articleLinks">
                    <div class="articleBackWrapper">
                        <a class="articleBack" href="/events">{{{ articleBack }}}</a>
                    </div>
                    <div class="articleSocialLinks">
                        <span class="shareTitle">{{{ shareTitle }}}</span>
                        <ul class="socialList">
                            <li class="social">
                                <a class="socialLink socialLink--facebook" data-social="facebook" href="#">Facebook</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--twitter" data-social="twitter" href="#">Twitter</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--vk" data-social="vk" href="#">VK</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--ok" data-social="ok" href="#">OK</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="eventsList">
                    <li class="event similarParent">
                        <a class="eventPhotoWrapper" href="/events/2">
                            <img class="eventPhoto similarPhoto" src="/images/interest_photo1.png" alt="events photo 1">
                        </a>
                        <a class="eventLink similarLink" href="/events/2">Instagram-интенсив «Теперь так»</a>
                        <p class="eventDescription">В процессе работы над партитурами создаются ситуации «встречи», которые понимаются как метафора сложных динамических процессов определения, различения, совместности.</p>
                        <span class="eventTheme">Афиша</span>
                    </li>
                    <li class="event similarParent">
                        <a class="eventPhotoWrapper" href="/events/2">
                            <img class="eventPhoto similarPhoto" src="/images/interest_photo2.png" alt="events photo 1">
                        </a>
                        <a class="eventLink similarLink" href="/events/3">Инсталляции группы Numen/For Use «Оклеим Москву»</a>
                        <p class="eventDescription">Во время работы выставки ее посещение будет разбито на четыре акта. В каждом акте выставочное пространство будет менять свои очертания, заметки и артефакты будут сменять друг друга, создавая среду для исполнения партитур приглашенными танцовщиками.</p>
                        <span class="eventTheme">Новости</span>
                    </li>
                    <li class="event similarParent">
                        <a class="eventPhotoWrapper" href="/events/2">
                            <img class="eventPhoto similarPhoto" src="/images/interest_photo3.png" alt="events photo 1">
                        </a>
                        <a class="eventLink similarLink" href="/events/4">День открытых дверей в ARTE</a>
                        <p class="eventDescription">В процессе работы над партитурами создаются ситуации «встречи», которые понимаются как метафора сложных динамических процессов определения, различения, совместности.</p>
                        <span class="eventTheme">Афиша</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>