    <div class="innerPage">
        <div class="articleWrapper">
            <div class="wrapper">
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <a class="breadcrumbLink eventsBreadcrumbLink" href="/events">{{{ eventsBreadcrumbLink }}}</a>
                    </li>
                    <li class="breadcrumb">
                        <span class="breadcrumbLink--active">{{{ eventData.eventTitle }}}</span>
                    </li>
                </ul>
                <div class="article">
                    <div class="articleAdditional">
                        <h1 class="articleHeader" data-event-link="{{{ eventData.eventLink }}}">{{{ eventData.eventTitle }}}</h1>
                        <div class="articlePictureWrapper">
                            {{#if hasEventPhoto }}
                                <img class="articlePicture" alt="article picture 1" src='/photos/events/{{{ eventData.eventPhoto }}}.png'>
                            {{else}}
                                <div class="articlePicture defaultPhoto"></div>
                            {{/if}}
                            {{#if isAdmin}}
                                <input type="file" 
                                    class="downloadPhoto" 
                                    data-options="event"
                                    data-value="{{{ eventData.eventID }}}"></input>
                            {{/if}}
                        </div>
                    </div>
                    <div class="articleTextWrapper">
                        <div class="overflowWrapper">
                            <div class="articleText">
                                {{{ eventData.formatedText }}}
                            </div>
                        </div>
                        <span class="scrollNode"></span>
                    </div>
                    <span class="articleLable">{{{ eventData.categoryTitle }}}</span>
                </div>
                <div class="articleLinks">
                    <div class="articleBackWrapper">
                        <a class="articleBack" href="/events">{{{ articleBack }}}</a>
                    </div>
                    <div class="articleSocialLinks">
                        <span class="shareTitle">{{{ shareTitle }}}</span>
                        <ul class="socialList">
                            <li class="social">
                                <a class="socialLink socialLink--facebook" data-social="facebook" href="#">Facebook</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--twitter" data-social="twitter" href="#">Twitter</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--vk" data-social="vk" href="#">VK</a>
                            </li>
                            <li class="social">
                                <a class="socialLink socialLink--ok" data-social="ok" href="#">OK</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {{#if anotherEvents.length }}
                <ul class="eventsList">
                    {{# each anotherEvents }}
                    <li class="event similarParent">
                        <a class="eventPhotoWrapper" href="/events/{{{ eventLink }}}">
                            {{#if hasPhoto }}
                            <img class="eventPhoto similarPhoto" src="/photos/events/{{{ eventPhoto }}}.png" alt="{{{ eventTitle }}}">
                            {{else}}
                            <div class="eventPhoto similarPhoto defaultPhoto"></div>
                            {{/if}}                            
                        </a>
                        <a class="eventLink similarLink" href="/events/{{{ eventLink }}}">{{{ eventTitle }}}</a>
                        <p class="eventDescription">{{{ eventAnnotation }}}</p>
                        <span class="eventTheme">{{{ categoryTitle }}}</span>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </div>
    </div>