<div class="innerPage">
    {{# each authorData }}
    <div class="authorsWrapper">
        <div class="wrapper">
            <div class="authorBlock">
                <div class="authorWrapper">
                    <div class="authorInfoWrapper similarParent">
                        <a href="/authors/{{{ authorID }}}" class="authorPhotoLink">
                            {{#if hasAuthorPhoto }}
                                <img class="authorPhoto similarPhoto" src="/photos/authors/{{{ authorPhoto }}}.png" alt="{{{ author }}}">
                            {{else}}
                                <div class="authorPhoto defaultPhoto similarPhoto"></div>
                            {{/if}}
                        </a>
                        <div class="authorInfo">
                            <div class="authorNameWrapper">
                                <a href="/authors/{{{ authorID }}}" class="authorName similarLink">{{{ author }}}</a>
                            </div>
                            <p class="authorDescription">{{{ authorAbout }}}</p>
                        </div>
                    </div>
                    {{#if pictures.length }}
                    <ul class="authorPictures--list">
                        {{# each pictures }}
                        <li class="authorPictures--item">
                            <a class="authorPictures-link" href="/authors/{{{ authorID }}}">
                                <img class="authorPictures--photo"
                                     src="/photos/pictures/thumbs/{{{ photoLink }}}_194x194.png"
                                     alt="{{{ picture }}}">
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
                {{#if pictures.length }}
                <a class="authorButton" href="/authors/1">{{{ authorButton }}}</a>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>