<div class="innerPage">
    <div class="basketWrapper">
        <div class="wrapper">
            <h1 class="pageTitle basketTitle">{{{ basketTitle }}}</h1>
            <div class="basketLoader"></div>
            <div class="basketTableWrapper"></div>
            <div class="pageTitle deliveryTitle">{{{ deliveryTitle }}}</div>
            <ul class="checkedForm deliveryForm">
                <li class="checkedItem checkedItem--pickup" data-delivery="pickup">
                    <span class="checkedElement"></span>
                    <span class="checkedLabel checkedLabel--pickup">{{{ checkedLabel--pickup }}}</span>
                    <span class="checkedAdditional checkedAdditional--pickup">{{{ checkedAdditional--pickup }}}</span>
                </li>
                <li class="checkedItem checkedItem--courier" data-delivery="courier">
                    <span class="checkedElement"></span>
                    <span class="checkedLabel checkedLabel--courier">{{{ checkedLabel--courier }}}</span>
                    <span class="checkedAdditional checkedAdditional--courier">{{{ checkedAdditional--courier }}}</span>
                </li>
                <li class="checkedItem checkedItem--delivery" data-delivery="package">
                    <span class="checkedElement"></span>
                    <span class="checkedLabel checkedLabel--delivery">{{{ checkedLabel--delivery }}}</span>
                    <span class="checkedAdditional checkedAdditional--delivery">{{{ checkedAdditional--delivery }}}</span>
                </li>
            </ul>
            <div class="pageTitle paymentTitle">{{{ paymentTitle }}}</div>
            <ul class="checkedForm paymentForm">
                <li class="checkedItem checkedItem--cash" data-payment="cash">
                    <span class="checkedElement"></span>
                    <span class="checkedLabel checkedLabel--cash">{{{ checkedLabel--cash }}}</span>
                </li>
                <li class="checkedItem checkedItem--online" data-payment="online">
                    <span class="checkedElement"></span>
                    <span class="checkedLabel checkedLabel--online">{{{ checkedLabel--online }}}</span>
                    <ul class="paymentList">
                        <li class="payment">
                            <img class="paymentIcon" src="/images/card_icon--visa.png" alt="Visa payment system">
                        </li>
                        <li class="payment">
                            <img class="paymentIcon" src="/images/card_icon--mastercard.png" alt="Mastercard payment system">
                        </li>
                        <li class="payment">
                            <img class="paymentIcon" src="/images/card_icon--maestro.png" alt="Maestro payment system">
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clientFormWrapper">
                <form class="clientForm">
                    <div class="clientFields">
                        <div class="pageTitle clientTitle">{{{ clientTitle }}}</div>
                        <div class="clientForm--item sended--hide">
                            <label class="clientForm--label" for="clientName">
                                <span class="clientForm--require">*</span>
                                <span class="clientForm--title clientForm--name">{{{ clientForm--name }}}</span>
                            </label>
                            <div class="errorBlock--field clientError--name">{{{ clientError--name }}}</div>
                            <input class="clientForm--field formField" type="text" id="clientName" name="clientName" data-type="name">
                        </div>
                        <div class="clientForm--item sended--hide">
                            <label class="clientForm--label" for="clientPhone">
                                <span class="clientForm--require">*</span>
                                <span class="clientForm--title clientForm--phone">{{{ clientForm--phone }}}</span>
                            </label>
                            <div class="errorBlock--field clientError--phone">{{{ clientError--phone }}}</div>
                            <input class="clientForm--field formField" type="text" id="clientPhone" name="clientPhone" data-type="phone">
                        </div>
                        <div class="clientForm--item sended--hide">
                            <label class="clientForm--label" for="clientEmail">
                                <span class="clientForm--require">*</span>
                                <span class="clientForm--title clientForm--email">{{{ clientForm--email }}}</span>
                            </label>
                            <div class="errorBlock--field clientError--email">{{{ clientError--email }}}</div>
                            <input class="clientForm--field formField" type="text" id="clientEmail" name="clientEmail" data-type="email">
                        </div>
                        <div class="clientForm--item sended--hide">
                            <label class="clientForm--label" for="clientComment">
                                <span class="clientForm--title clientForm--comment">{{{ clientForm--comment }}}</span>
                            </label>
                            <div class="errorBlock--field clientError--comment">{{{ clientError--comment }}}</div>
                            <textarea class="clientForm--textarea formField" id="clientComment" name="clientComment" data-type="comment"></textarea>
                        </div>
                    </div>
                    <div class="clientAdditional">
                        <div class="galleryMap formAdditional">
                            <img class="mapPin" src="/images/map_pin.png" alt="map pin">
                            <img class="logo" src="/images/logo.svg" alt="arTE logo">
                            <address class="galleryAddress">{{{ galleryAddress }}}</address>
                            <span class="galleryTimeline">{{{ galleryTimeline }}}</span>
                        </div>
                        <div class="deliveryData formAdditional">
                            <div class="pageTitle dataTitle dataTitle--address">{{{ dataTitle--address }}}</div>
                            <div class="clientForm--item sended--hide">
                                <label class="clientForm--label" for="clientCity">
                                    <span class="clientForm--require">*</span>
                                    <span class="clientForm--title clientForm--city">{{{ clientForm--city }}}</span>
                                </label>
                                <div class="errorBlock--field clientError--city">{{{ clientError--city }}}</div>
                                <input class="clientForm--field formField" type="text" id="clientCity" name="clientCity" data-type="city">
                            </div>
                            <div class="clientForm--item sended--hide">
                                <label class="clientForm--label" for="clientAddress">
                                    <span class="clientForm--require">*</span>
                                    <span class="clientForm--title clientForm--address">{{{ clientForm--address }}}</span>
                                </label>
                                <div class="errorBlock--field clientError--address">{{{ clientError--address }}}</div>
                                <input class="clientForm--field formField" type="text" id="clientAddress" name="clientAddress" data-type="address">
                            </div>
                            <div class="rulesFieldWrapper">
                                <span class="rulesField"></span>
                                <span class="rulesLabel">{{{ rulesLabel }}}</span>
                            </div>
                        </div>
                        <button class="clientForm--button sended--hide" type="submit" disabled="disabled">{{{ clientForm--button }}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="orderWrapper">
        <div class="wrapper">
            <div class="order">
                <p class="orderTitle">{{{ orderTitle }}}</p>
                <p class="orderNumberWrapper">
                    <span class="orderNumberTitle">{{{ orderNumberTitle }}}</span>
                    <span class="orderNumber"></span>
                </p>
                <p class="orderConfirm">{{{ orderConfirm }}}</p>
                <div class="followWrapper">
                    <span class="followLabel">{{{ followLabel }}}</span>
                    <ul class="followList">
                        <li class="followItem">
                            <a href="https://www.instagram.com/art_of_moscoww/"
                               class="followLink followLink--instagram"
                               target="_blank">
                                Instagram
                            </a>
                        </li>
                        <li class="followItem">
                            <a href="#" class="followLink followLink--facebook" target="_blank">Facebook</a>
                        </li>
                    </ul>
                </div>
                {{#if anotherEvents.length }}
                    <ul class="eventsList">
                        {{# each anotherEvents }}
                            <li class="event similarParent">
                                <a class="eventPhotoWrapper" href="/events/{{{ eventLink }}}">
                                    {{#if hasPhoto }}
                                        <img class="eventPhoto similarPhoto"
                                             src="/photos/events/{{{ eventPhoto }}}.png"
                                             alt="{{{ eventTitle }}}">
                                    {{else}}
                                        <div class="eventPhoto similarPhoto defaultPhoto"></div>
                                    {{/if}}
                                </a>
                                <a class="eventLink similarLink" href="/events/{{{ eventLink }}}">{{{ eventTitle }}}</a>
                                <p class="eventDescription">{{{ eventAnnotation }}}</p>
                                <span class="eventTheme">{{{ categoryTitle }}}</span>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
                <a href="/events" class="eventsButton">{{{ eventsButton }}}</a>
            </div>
        </div>
    </div>
</div>

<template class="basketTableTemplate">
    <div class="basketTable">
        <div class="basketTableHeader">
            <span class="basketHeaderTitle basketTitleName">{{{ basketTitleName }}}</span>
            <span class="basketHeaderTitle basketTitlePrice">{{{ basketTitlePrice }}}</span>
        </div>
        <div class="basketTableBody">
            <div class="basketItem">
                <img class="basketPhoto" src="" alt="">
                <div class="basketItemData">
                    <div class="basketItemHeader">
                        <a class="basketItemLink" href="" target="_blank"></a>
                    </div>
                    <div class="pictureSize">
                        <span class="sizeLabel">{{{ sizeLabel }}}</span>
                        <span class="pictureWidth metric metric--ru"></span>
                        <span class="pictureHeight metric metric--ru"></span>
                    </div>
                    <div class="pictureAuthor">
                        <a class="pictureAuthorLink" href="" target="_blank"></a>
                    </div>
                </div>
                <em class="picturePrice price price--rub" data-rub=""></em>
                <button class="removeButton">X</button>
            </div>
        </div>
        <div class="basketTableFooter">
            <span class="basketSummaryTitle">{{{ basketSummaryTitle }}}</span>
            <span class="basketSummaryValue price" data-rub=""></span>
        </div>
    </div>
</template>