<div class="innerPage">
    <div class="wrapperFull">
        <div class="collectionLoader"></div>
        <div class="collection">
            <div class="filtersWrapper">
                <div class="filtersHeader">{{{ filtersHeader }}}</div>
                <ul class="filters">
                    <li class="filter">
                        <p class="filterLabel filterPrice">{{{ filterPrice }}}</p>
                        <div class="rangeWrapper">
                            <div class="rangeLine">
                                <button class="rangeMin">min</button>
                                <button class="rangeMax">max</button>
                                <span class="range"></span>
                            </div>
                            <div class="rangeLabels">
                                <span
                                    class="labelMin price price--{{{ filters.priceTitle }}}"
                                    {{# if filters.exchangeMinPrice }}
                                        data-value="{{{ filters.exchangeMinPrice }}}"
                                        data-current="{{{ filters.exchangeMinPrice }}}"
                                    {{/if}}
                                    data-rub="{{{ filters.minPrice }}}">{{{ filters.langMinPrice }}}</span>
                                <span
                                    class="labelMax price price--{{{ filters.priceTitle }}}"
                                    {{#if filters.exchangeMaxPrice }}
                                        data-value="{{{ filters.exchangeMaxPrice }}}"
                                        data-current="{{{ filters.exchangeMaxPrice }}}"
                                    {{/if}}
                                    data-rub="{{{ filters.maxPrice }}}">{{{ filters.langMaxPrice }}}</span>
                            </div>
                        </div>
                    </li>
                    {{#if filters.orientations.length }}
                    <li class="filter">
                        <p class="filterLabel filterOrientation">{{{ filterOrientation }}}</p>
                        <div class="orientationWrapper">
                            {{# each filters.orientations }}
                            <button class="orientation orientation--{{{ pictureOrientation }}}"
                                    data-select="{{{ pictureOrientation }}}">{{{ pictureOrientation }}}</button>
                            {{/each}}
                        </div>
                    </li>
                    {{/if}}
                    <li class="filter">
                        <p class="filterLabel filterSize">{{{ filterSize }}}</p>
                        <div class="rangeWrapper">
                            <p class="rangeHeader rangeWidth">{{{ rangeWidth }}}</p>
                            <div class="rangeLine">
                                <button class="rangeMin">min</button>
                                <button class="rangeMax">max</button>
                                <span class="range"></span>
                            </div>
                            <div class="rangeLabels">
                                <span
                                    class="labelMin metric metricWidth metric--{{{ language }}}"
                                    data-default="{{{ filters.minWidth }}}">{{{ filters.minWidth }}}</span>
                                <span
                                    class="labelMax metric metricWidth metric--{{{ language }}}"
                                    data-default="{{{ filters.maxWidth }}}">{{{ filters.maxWidth }}}</span>
                            </div>
                        </div>
                        <div class="rangeWrapper">
                            <p class="rangeHeader rangeHeight">{{{ rangeHeight }}}</p>
                            <div class="rangeLine">
                                <button class="rangeMin">min</button>
                                <button class="rangeMax">max</button>
                                <span class="range"></span>
                            </div>
                            <div class="rangeLabels">
                                <span
                                    class="labelMin metric metricHeight metric--{{{ language }}}"
                                    data-default="{{{ filters.minHeight }}}">{{{ filters.minHeight }}}</span>
                                <span
                                    class="labelMax metric metricHeight metric--{{{ language }}}"
                                    data-default="{{{ filters.maxHeight }}}">{{{ filters.maxHeight }}}</span>
                            </div>
                        </div>
                    </li>
                    {{#if filters.colors.length }}
                    <li class="filter">
                        <p class="filterLabel filterColor">{{{ filterColor }}}</p>
                        <div class="colorsWrapper">
                            {{#each filters.colors }}
                                <button class="color"
                                        data-color-id="{{{ colorID }}}"
                                        style="background-color: {{{ colorHEX }}};"
                                        data-select="{{{ colorID }}}">{{{ color }}}</button>
                            {{/each}}
                        </div>
                    </li>
                    {{/if}}
                    {{#if filters.genres.length }}
                    <li class="filter">
                        <p class="filterLabel filterLabel--dropdown filterGenre">
                            {{{ filterGenre }}}
                        </p>
                        <div class="dropdown">
                            <div class="dropdownWrapper">
                                <ul class="dropdownList genreList">
                                    {{#each filters.genres}}
                                        <li class="dropdownItem"
                                            data-select="{{{ genreID }}}">
                                            <span class="dropdownLink">{{{ genre }}}</span>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="dropdownScroll"></div>
                        </div>
                        <ul class="chosenList genreList"></ul>
                    </li>
                    {{/if}}
                    {{#if filters.techniques.length }}
                    <li class="filter">
                        <p class="filterLabel filterLabel--dropdown filterTechnique">
                            {{{ filterTechnique }}}
                        </p>
                        <div class="dropdown">
                            <div class="dropdownWrapper">
                                <ul class="dropdownList techniqueList">
                                    {{#each filters.techniques}}
                                        <li class="dropdownItem"
                                            data-select="{{{ techniqueID }}}">
                                            <span class="dropdownLink">{{{ technique }}}</span>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="dropdownScroll"></div>
                        </div>
                        <ul class="chosenList techniqueList"></ul>
                    </li>
                    {{/if}}
                    {{#if filters.authors.length }}
                    <li class="filter">
                        <p class="filterLabel filterLabel--dropdown filterAuthor">
                            {{{ filterAuthor }}}
                        </p>
                        <div class="dropdown">
                            <div class="dropdownWrapper">
                                <ul class="dropdownList authorList">
                                    {{#each filters.authors}}
                                    <li class="dropdownItem" data-select="{{{ authorID }}}">
                                        <img class="authorPhoto"
                                             src="/photos/authors/thumbs/{{{ authorPhoto }}}_20x20.png"
                                             alt="{{{ author }}}">
                                        <span class="dropdownLink">{{{ author }}}</span>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="dropdownScroll"></div>
                        </div>
                        <ul class="chosenList authorList"></ul>
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{> picture-list }}
        </div>
    </div>
</div>