<div class="innerPage">
    <h1 class="deliveryInnerHeader">{{{ deliveryInnerHeader }}}</h1>
    <div class="deliveryContent">
        <div class="wrapper">
            <p class="deliveryHeader deliveryHeader--types">{{{ deliveryHeader--types }}}</p>
            <ul class="deliveryList">
                <li class="delivery">
                    <div class="deliveryIconWrapper">
                        <img class="deliveryIcon" src="/images/delivery_icon--box.svg" alt="delivery box icon">
                    </div>
                    <h2 class="deliveryType deliveryType--box">{{{ deliveryType--box }}}</h2>
                    <p class="deliveryDescription deliveryDescription--box">{{{ deliveryDescription--box }}}</p>
                </li>
                <li class="delivery">
                    <div class="deliveryIconWrapper">
                        <img class="deliveryIcon" src="/images/delivery_icon--truck.svg" alt="delivery truck icon">
                    </div>
                    <h2 class="deliveryType deliveryType--truck">{{{ deliveryType--truck }}}</h2>
                    <p class="deliveryDescription deliveryDescription--truck">{{{ deliveryDescription--truck }}}</p>
                </li>
                <li class="delivery">
                    <div class="deliveryIconWrapper">
                        <img class="deliveryIcon" src="/images/delivery_icon--airbus.svg" alt="delivery airbus icon">
                    </div>
                    <h2 class="deliveryType deliveryType--airbus">{{{ deliveryType--airbus }}}</h2>
                    <p class="deliveryDescription deliveryDescription--airbus">{{{ deliveryDescription--airbus }}}</p>
                </li>
            </ul>
            <p class="deliveryHeader deliveryHeader--payment">{{{ deliveryHeader--payment }}}</p>
            <p class="deliveryText deliveryText--payment">{{{ deliveryText--payment }}}</p>
            <ul class="paymentList">
                <li class="payment">
                    <h3 class="paymentHeader paymentHeader--cash">{{{ paymentHeader--cash }}}</h3>
                    <p class="paymentText paymentText--cash">{{{ paymentText--cash }}}</p>
                </li>
                <li class="payment">
                    <h3 class="paymentHeader paymentHeader--card">{{{ paymentHeader--card }}}</h3>
                    <p class="paymentText paymentText--card">{{{ paymentText--card }}}</p>
                    <ul class="cardsList">
                        <li class="card">
                            <img src="/images/card_icon--visa.png" alt="Visa card icon">
                        </li>
                        <li class="card">
                            <img src="/images/card_icon--mastercard.png" alt="Mastercard card icon">
                        </li>
                        <li class="card">
                            <img src="/images/card_icon--maestro.png" alt="Maestro card icon">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="deliveryMap">
        <img class="mapLogo" src="/images/logo.svg" alt="arTE logo">
        <img class="mapPin" src="/images/map_pin.png" alt="map pin icon">
        <div class="mapContacts">
            <span class="contactsLogo">ARTÉ</span>
            <address class="contactsAddress footerAddress">{{{ footerAddress }}}</address>
            <span class="contactsTimeline footerTimeline">{{{ footerTimeline }}}</span>
            <span class="contactsEmail footerEmail">{{{ footerEmail }}}</span>
            <span class="contactsPhone footerPhone">{{{ footerPhone }}}</span>
            <ul class="socialList">
                <li class="social">
                    <a class="socialLink socialLink--facebook" href="#">Facebook</a>
                </li>
                <li class="social">
                    <a class="socialLink socialLink--instagram" href="#">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    {{> recall-form }}
</div>