<div class="innerPage">
    <div class="artSpace">
        <div class="wrapper">
            <h1 class="artSpaceHeader">{{{ artSpaceHeader }}}</h1>
            <p class="artSpaceDescription">{{{ artSpaceDescription }}}</p>
            <ul class="artSpaceList">
                <li class="artSpaceItem">
                    <img class="artSpaceImage" alt="art space image 1" src="/images/art-space_photo1.png">
                    <h2 class="artSpaceName artSpaceLink--artCoworking">{{{ artSpaceLink--artCoworking }}}</h2>
                    <p class="artSpaceAdditional artSpaceAdditional--artCoworking">{{{ artSpaceAdditional--artCoworking }}}</p>
                </li>
                <li class="artSpaceItem">
                    <img class="artSpaceImage" alt="art space image 1" src="/images/art-space_photo2.png">
                    <h2 class="artSpaceName artSpaceLink--seminars">{{{ artSpaceLink--seminars }}}</h2>
                    <p class="artSpaceAdditional artSpaceAdditional--seminars">{{{ artSpaceAdditional--seminars }}}</p>
                </li>
                <li class="artSpaceItem">
                    <img class="artSpaceImage" alt="art space image 1" src="/images/art-space_photo3.png">
                    <h2 class="artSpaceName artSpaceLink--events">{{{ artSpaceLink--events }}}</h2>
                    <p class="artSpaceAdditional artSpaceAdditional--events">{{{ artSpaceAdditional--events }}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="events">
        <div class="wrapper">
            <h3 class="eventsHeader">{{{ eventsHeader }}}</h3>
            {{#if events.length }}
                <ul class="eventsList">
                    {{#each events}}
                        <li class="event similarParent">
                            <a href="/events/{{{ eventLink }}}" class="eventPhotoLink">
                                {{#if hasPhoto}}
                                    <img class="eventPhoto similarPhoto"
                                         src="/photos/events/{{{ eventPhoto }}}.png"
                                         alt="{{{ eventTitle }}}">
                                {{else}}
                                    <div class="eventPhoto similarPhoto defaultPhoto"></div>
                                {{/if}}
                            </a>
                            <a class="eventLink similarLink" href="/events/{{{ eventLink }}}">{{{ eventTitle }}}</a>
                            <p class="eventDescription">{{{ eventAnnotation }}}</p>
                            <span class="eventTheme">{{{ categoryTitle }}}</span>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if hasMoreButton}}
                <button class="arrowDownButton interestButton">{{{ interestButton }}}</button>
            {{/if}}
        </div>
    </div>
</div>