<div class="splitBlocks splitBlocks--main">
    <div class="mainBlockWrapper">
        <div class="wrapperFull">
            <div class="mainBlock">
                <img class="mainLogo" src="images/logo.svg" alt="arTE logo">
                <p class="mainDescription">{{{ mainDescription }}}</p>
                <a class="mainHeader" href="/collection">{{{ mainHeader }}}</a>
                <div class="mainCollection">
                    {{#each collection}}
                        <div class="collectionPhotoWrapper">
                            <img class="collectionPhoto"
                                 data-picture-id="{{{ pictureID }}}"
                                 src="/photos/collection/{{{ picturePhoto }}}.png"
                                 alt="{{{ picture }}}">
                            {{#if isAdmin}}
                                <input type="file"
                                       class="downloadPhoto"
                                       data-options="collection{{{ pictureID }}}"
                                       data-value="{{{ eventData.eventID }}}">
                            {{/if}}
                        </div>
                    {{/each}}
                    <a class="collectionLink" href="/collection">{{{ collectionLink }}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="authorsWrapper">
        <h2 class="authorsHeader">{{{ authorsHeader }}}</h2>
        <div class="wrapper">
            {{#if isSingleAuthor}}
            <div class="authorBlock">
                <div class="authorWrapper">
                    <div class="authorInfoWrapper similarParent">
                        <a class="authorPhotoLink" href="/authors/{{{ authors.authorID }}}">
                            <img class="authorPhoto similarPhoto" src="/photos/authors/{{{ authors.authorPhoto }}}.png" alt="{{{ authors.author }}}">
                        </a>
                        <div class="authorInfo">
                            <div class="authorNameWrapper">
                                <a href="/authors/{{{ authors.authorID }}}" class="authorName similarLink">{{{ authors.author }}}</a>
                            </div>
                            <p class="authorDescription">{{{ authors.authorAbout }}}</p>
                        </div>
                    </div>
                    {{#if authors.pictures}}
                    <ul class="authorPictures--list">
                        {{#each authors.pictures}}
                        <li class="authorPictures--item">
                            <a class="authorPictures-link" href="/authors/{{{ authorID }}}">
                                <img class="authorPictures--photo" src="/images/author_picture1.png" alt="arTE author picture 1">
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>  
                <a class="authorButton" href="/authors/{{{ authors.authorID }}}">{{{ authorButton }}}</a>
            </div>
            {{else}}
            <div class="authorsBlock">
                {{#if authors.length}}
                <ul class="authorsList">
                    {{#each authors}}
                    <li class="authorsItem similarParent">
                        <a class="authorsImageLink" href="/authors/{{{ authorID }}}">
                            <img class="authorsImage similarPhoto" src="/photos/authors/{{{ authorPhoto }}}.png" alt="{{{ author }}}">
                        </a>
                        <div class="authorsLinkWrapper">
                            <a class="authorsLink similarLink" href="/authors/{{{ authorID }}}">{{{ author }}}</a>
                        </div>
                        <span class="authorsPlace">{{{ authorCity }}}</span>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                <a class="authorsButton" href="/authors">{{{ authorsButton }}}</a>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="orderWrapper">
        <h2 class="orderHeader">{{{ orderHeader }}}</h2>
        <div class="wrapper">
            <div class="orderBlock">
                <p class="orderDescription">{{{ orderDescription }}}</p>
                <div class="orderExamples">
                    <div class="picturesWrapper">
                        <h2 class="picturesHeader">{{{ picturesHeader }}}</h2>
                        <p class="picturesDescription">{{{ picturesDescription }}}</p>
                        <img class="picturesExample" src="/images/orders_picture1.png" alt="arTE order picture 1">
                        <img class="picturesExample" src="/images/orders_picture2.png" alt="arTE order picture 2">
                        <img class="picturesExample" src="/images/orders_picture3.png" alt="arTE order picture 3">
                    </div>
                    <div class="reproductionsWrapper">
                        <h2 class="reproductionsHeader">{{{ reproductionsHeader }}}</h2>
                        <p class="reproductionsDescription">{{{ reproductionsDescription }}}</p>
                        <img class="reproductionsExample" src="/images/orders_reproduction1.png" alt="arTE order reproduction 1">
                        <img class="reproductionsExample" src="/images/orders_reproduction2.png" alt="arTE order reproduction 2">
                        <img class="reproductionsExample" src="/images/orders_reproduction3.png" alt="arTE order reproduction 3">
                    </div>
                </div>
                <a class="orderButton" href="/collection">{{{ orderButton }}}</a>
            </div>
        </div>
    </div>
</div>

<div class="splitBlocks splitBlocks--events">
    <div class="artSpaceBlock">
        <div class="wrapper">
            <div class="artSpaceWrapper">
                <h2 class="artSpaceHeader">{{{ artSpaceHeader }}}</h2>
                <ul class="artSpaceList">
                    <li class="artSpaceItem similarParent">
                        <a class="artSpacePhotoLink" href="/events">
                            <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo1.png" alt="arTE art space photo 1">
                        </a>
                        <a class="artSpaceLink artSpaceLink--artCoworking similarLink" href="/events">{{{ artSpaceLink--artCoworking }}}</a>
                    </li>
                    <li class="artSpaceItem similarParent">
                        <a class="artSpacePhotoLink" href="/events">
                            <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo2.png" alt="arTE art space photo 2">
                        </a>
                        <a class="artSpaceLink artSpaceLink--seminars similarLink" href="/events">{{{ artSpaceLink--seminars }}}</a>
                    </li>
                    <li class="artSpaceItem similarParent">
                        <a class="artSpacePhotoLink" href="/events">
                            <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo3.png" alt="arTE art space photo 3">
                        </a>
                        <a class="artSpaceLink artSpaceLink--events similarLink" href="/events">{{{ artSpaceLink--events }}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="interestBlock">
        <h2 class="interestHeader">{{{ interestHeader }}}</h2>
        <div class="wrapperFull">
            <div class="interestWrapper">
                <ul class="interestList">
                    {{#each events }}
                    <li class="interestItem {{#if isActive }}interestItem--active{{/if}} similarParent">
                        <a class="interestPhotoLink" href="/events/{{{ eventLink }}}">
                            <img class="interestPhoto similarPhoto" src="/photos/events/{{{ eventPhoto }}}.png" alt="{{{ eventTitle }}}">
                        </a>
                        <a class="interestLink similarLink" href="/events/{{{ eventLink }}}">{{{ eventTitle }}}</a>
                        <p class="interestDescription">{{{ eventAnnotation }}}</p>
                        <a class="interestTheme interestTheme--news" href="/events/{{{ eventLink }}}">{{{ categoryTitle }}}</a>
                    </li>
                    {{/each}}
                </ul>
                <a class="interestButton" href="/events">{{{ interestButton }}}</a>
            </div>
        </div>
    </div>
</div>

<div class="deliveryBlock">
    <div class="wrapper">
        <div class="deliveryWrapper">
            <h2 class="deliveryHeader">{{{ deliveryHeader }}}</h2>
            <p class="deliveryAdditional">{{{ deliveryAdditional }}}</p>
            <img class="deliveryIcon" src="/images/delivery--icon.svg" width="128" height="128" alt="Delivery icon arTE">
            <a class="deliveryLink" href="/delivery">{{{ deliveryLink }}}</a>
        </div>
    </div>
</div>

<div class="instagramBlock">
    <div class="wrapper">
        <div class="instagramWrapper">
            <div class="instagramDescription">
                <h3 class="instagramHeader">{{{ instagramHeader }}}</h3>
                <a class="instagramName" href="https://www.instagram.com/art_of_moscoww/" target="_blank">@ art_of_moscoww</a>
            </div>
            <ul class="instagramList">
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo1.png" alt="arTE instagram photo 1">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo2.png" alt="arTE instagram photo 2">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo3.png" alt="arTE instagram photo 3">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo4.png" alt="arTE instagram photo 4">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo5.png" alt="arTE instagram photo 5">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="https://www.instagram.com/art_of_moscoww/" target="_blank">
                        <img class="instagramPhoto" src="/images/instagram_photo6.png" alt="arTE instagram photo 6">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{{> recall-form }}