<div class="innerPage">
    <div class="painterHeader">
        <div class="wrapper">
            <div class="painterHeaderWrapper">
                <h1 class="painterName">{{{ authorData.author }}}</h1>
                <span class="painterCity">{{{ authorData.authorCity }}}</span>
                <img class="painterPhoto" src="/images/{{{ authorData.authorPhoto }}}" alt="Author photo">
                {{#if isAdmin}}
                    <button class="adminButton adminAuthorRemoveButton">remove</button>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="painterData">
        <div class="wrapper">
            <div class="painterDataWrapper">
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <a class="breadcrumbLink authorsBreadcrumbLink" href="/authors">{{{ authorsBreadcrumbLink }}}</a>
                    </li>
                    <li class="breadcrumb">
                        <span class="breadcrumbLink--active">{{{ authorData.author }}}</span>
                    </li>
                </ul>
                <article class="painterDataArticle">
                    {{#if authorData.educations.length }}
                        <h3 class="painterDataHeader headerEducation">{{{ headerEducation }}}</h3>
                        <ul class="painterDataList educationList">
                            {{# each authorData.educations }}
                                <li class="painterEvent" data-education-id="{{ educationID }}">
                                    <em class="painterTimeline">{{{ educationYear }}}</em>
                                    <span class="painterText">{{{ education }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminButton adminListButton adminEducationAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                        </button>
                    {{/if}}
                    {{#if authorData.rewards.length }}
                        <h3 class="painterDataHeader headerAwards">{{{ headerAwards }}}</h3>
                        <ul class="painterDataList rewardList">
                            {{# each authorData.rewards }}
                                <li class="painterEvent" data-reward-id="{{ rewardID }}">
                                    <em class="painterTimeline">{{{ rewardYear }}}</em>
                                    <span class="painterText">{{{ reward }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminButton adminListButton adminRewardAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                        </button>
                    {{/if}}
                    {{#if authorData.rewards.length }}
                        <h3 class="painterDataHeader exhibitionHeader">{{{ exhibitionHeader }}}</h3>
                        <ul class="painterDataList exhibitionList">
                            {{# each authorData.exhibitions }}
                                <li class="painterEvent" data-exhibition-id="{{ exhibitionID }}">
                                    <em class="painterTimeline">{{{ exhibitionYear }}}</em>
                                    <span class="painterText">{{{ exhibition }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminButton adminListButton adminExhibitionAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                        </button>
                    {{/if}}
                </article>
            </div>
        </div>
    </div>
    <h2 class="painterPicturesHeader">{{{ painterPicturesHeader }}}</h2>
    <div class="picturesWrapper">
        <div class="wrapper">
            <div class="painterPictures">
                {{> picture-list }}
            </div>
        </div>
    </div>
</div>