<div class="innerPage">
    <div class="painterHeader">
        <div class="wrapper">
            <div class="painterHeaderWrapper">
                <h1 class="painterName" data-author-id="{{{ authorData.authorID }}}">
                    {{{ authorData.author }}}
                </h1>
                <span class="painterCity">{{{ authorData.authorCity }}}</span>
                <div class="painterPhotoWrapper">
                    {{#if hasAuthorPhoto }}
                        <img class="painterPhoto" src="/photos/authors/{{{ authorData.authorPhoto }}}.png" alt="{{{ authorData.author }}}">
                    {{else}}
                        <div class="painterPhoto defaultPhoto"></div>
                    {{/if}}
                    {{#if isAdmin}}
                        <input type="file" 
                            class="painterPhoto downloadPhoto" 
                            data-options="author"
                            data-value="{{{ authorData.authorID }}}"></input>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="painterData">
        <div class="wrapper">
            <div class="painterDataWrapper">
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <a class="breadcrumbLink authorsBreadcrumbLink" href="/authors">{{{ authorsBreadcrumbLink }}}</a>
                    </li>
                    <li class="breadcrumb">
                        <span class="breadcrumbLink--active">{{{ authorData.author }}}</span>
                    </li>
                </ul>
                <article class="painterDataArticle">
                    {{#if authorData.educations.length }}
                        <h3 class="painterDataHeader headerEducation">{{{ headerEducation }}}</h3>
                        <ul class="painterDataList educationList">
                            {{# each authorData.educations }}
                                <li class="painterEvent" data-education-id="{{ educationID }}">
                                    <em class="painterTimeline">{{{ educationYear }}}</em>
                                    <span class="painterText">{{{ education }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminListButton adminEducationAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                            Добавить пункт с образованием
                        </button>
                    {{/if}}
                    {{#if authorData.rewards.length }}
                        <h3 class="painterDataHeader headerAwards">{{{ headerAwards }}}</h3>
                        <ul class="painterDataList rewardList">
                            {{# each authorData.rewards }}
                                <li class="painterEvent" data-reward-id="{{ rewardID }}">
                                    <em class="painterTimeline">{{{ rewardYear }}}</em>
                                    <span class="painterText">{{{ reward }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminListButton adminRewardAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                            Добавить пункт с наградой
                        </button>
                    {{/if}}
                    {{#if authorData.rewards.length }}
                        <h3 class="painterDataHeader exhibitionHeader">{{{ exhibitionHeader }}}</h3>
                        <ul class="painterDataList exhibitionList">
                            {{# each authorData.exhibitions }}
                                <li class="painterEvent" data-exhibition-id="{{ exhibitionID }}">
                                    <em class="painterTimeline">{{{ exhibitionYear }}}</em>
                                    <span class="painterText">{{{ exhibition }}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if isAdmin}}
                        <button
                            class="adminListButton adminExhibitionAddButton"
                            data-author-id="{{{ authorData.authorID }}}">
                            Добавить пункт с выставкой
                        </button>
                    {{/if}}
                </article>
            </div>
        </div>
    </div>
    <h2 class="painterPicturesHeader">{{{ painterPicturesHeader }}}</h2>
    <div class="picturesWrapper">
        <div class="wrapper">
            <div class="painterPictures">
                {{> picture-list }}
            </div>
        </div>
    </div>
</div>

{{#if isAdmin}}
    {{> templates/author.template}}
    {{> templates/education.template}}
    {{> templates/reward.template}}
    {{> templates/exhibition.template}}
{{/if}}